@model AnimalShelter.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Animals</h2>

<div>
    <h3>Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalShelter.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalShelter.ShelterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalType.AnimalTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType.AnimalTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalAge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
