@model AnimalShelter.Models.VetHospital

@{
    ViewBag.Title = "Details";
}

<h2>Vet Clinic</h2>

<div>
    <h3>Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalShelter.ShelterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalShelter.ShelterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VetHospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetHospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VetHospitalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetHospitalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VetHospitalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetHospitalHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VetHospitalPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetHospitalPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VetHospitalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetHospitalEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VetHospitalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
